
@import 'variables';
@import 'hero';
@import 'parallax';
@import 'cube';


*{
	box-sizing:border-box;
}
html,body {
	width:100%;
	height:100%;
	background:#212121;
}
h1 {
	text-align:center;
	color:white;
	font-size:48px;
	padding-top:25%;
}
p {
	padding-top:30px;
	width:70%;
	margin:0 auto;
	text-align:center;
	line-height:2;
}

